@font-face {
  font-family: "Inter-Variable";
  src: url(./assets/fonts/Inter-VariableFont_slnt-wght.ttf) format("truetype");
}
@font-face {
  font-family: "Inter-Regular";
  src: url(./assets/fonts/static/Inter-Regular.ttf) format("truetype");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter-Variable";
}

main,
img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

  background-color: hsl(0, 0%, 12%);
  padding: 3rem;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 85px;
  border-radius: 99rem;
  padding: 0;
}

h1 {
  font-family: "Inter-Regular";
  color: aliceblue;
  font-size: 23px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 25px;
}

#highlighted {
  color: hsl(75, 90%, 57%);
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px;
}

#subHeading {
  color: hsl(0, 0%, 75%);
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

#subgroup {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
  padding: 15px;
  border: 1px solid hsl(0, 0%, 20%);
  box-sizing: border-box;

  margin: 5.5px;
  border-radius: 0.5rem;
  padding-left: 55px 0 0 0;
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}

#subgroup:hover {
  background-color: hsl(75, 94%, 57%);
}
