@font-face {
  font-family: "Inter-Variable";
  src: url(./assets/fonts/Inter-VariableFont_slnt-wght.ttf) format("truetype");
}
@font-face {
  font-family: "Inter-Regular";
  src: url(./assets/fonts/static/Inter-Regular.ttf) format("truetype");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter-Variable";
}

main,
img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

  background-color: hsl(0, 0%, 12%);
  padding: 2rem;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 85px;
  border-radius: 99rem;
  padding: 0;
}

h1 {
  font-family: "Inter-Regular";
  color: aliceblue;
  font-size: 23px;
}

#highlighted {
  color: hsl(75, 94%, 57%);
  font-size: 14px;
  padding: 0;
  margin: 0;
}

#whiteheader {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
}

#subHeading {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
}
#subgroup {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  border: 25px solid yellow;
}
